{% extends 'base.html' %}
{% load static %}
 {% block content %}

   <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3 mb-5 text-big">Artist statement</h2>
           
            <p class="text-big">
              I like think of "creativity", as ancient intuition and that Art is a modern institution.
I use my creativity to claim space in the world and to tell the stories of my life and the lives before me. I focus about blackness and africa to challenge the misconceptions of my identity. My creativity is unapologetic and i intent  to inspire others in this creative common world.
</p>
          </div>
        </div>
      </div>
    </section>



  {% endblock content %}